BDayWishMail/Connected Services/ServiceReference/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TNMailGateway" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TNMailGateway" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tnndapps.timesgroup.com/emails/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="MailParameters">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MailAttachments" nillable="true" type="q1:ArrayOfKeyValueOfstringbase64Binary" />
      <xs:element minOccurs="0" name="MailBcc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailBody" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailCc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailFile" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="MailFileName" nillable="true" type="xs:string" />
      <xs:element name="MailFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailSubject" nillable="true" type="xs:string" />
      <xs:element name="MailTo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MailParameters" nillable="true" type="tns:MailParameters" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>